body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: radial-gradient(circle, rgba(238,223,174,1) 0%, rgba(148,153,233,1) 100%); */
  background-color: black;
  font-family: "Lucida Console", Courier, monospace;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

button {
  cursor: pointer;
}
